<!-- <div class="relative w-full h-portfolio-30 mx-auto rounded-3xl bg-transparent">
    <div class="absolute w-full h-96 lg:h-96 flex justify-center overflow-hidden rounded-full">
        <div class="absolute w-full h-full z-20 bg-gradient-to-t from-portfolio-blue-dark via-transparent to-transparent"></div>
        <img class="absolute z-10 top-portfolio-27 h-full scale-[3]" src="{{image}}" alt="">
    </div>
</div> -->

<div class="relative w-full h-portfolio-30 mx-auto rounded-3xl bg-transparent">
    <div class="absolute w-72 h-72 lg:w-96 lg:h-full flex justify-center overflow-hidden">
        <!-- <div class="absolute w-full h-full z-20 bg-gradient-to-t from-portfolio-blue-dark via-transparent to-transparent"></div> -->
        <img class="absolute h-72 lg:h-96 z-10 top-0" src="assets/images/undraw_developer_activity_re_39tg.svg" alt="">
    </div>
</div>

