<div class="relative w-96 h-96 mx-auto overflow-hidden rounded-3xl">
    <div class="blur-3xl">
        <div class="absolute w-40 h-40 rounded-full bg-orange-200"></div>
    <!-- <div class="absolute z-10 top-72 left-48  w-40 h-40 rounded-full bg-orange-200"></div> -->
        <div class="absolute top-36 w-10 h-10 rounded-full bg-green-200"></div>
        <div class="absolute top-48 left-7 w-14 h-14 rounded-full bg-pink-200"></div>
        <div class="absolute top-48 left-56 w-40 h-56 rounded-md -rotate-12 bg-pink-200"></div>
        <!-- <div class="absolute top-0 left-0 w-40 h-56 rounded-md -rotate-12 bg-red-200"></div> -->
    </div>
    <i class="fa-brands fa-golang absolute left-64 top-20 w-10 h-10 p-3 rounded-full text-white bg-emerald-300 text-2xl shadow-lg shadow-zinc-900"></i>
    <i class="fa-brands fa-css3-alt absolute left-10 top-72 w-5 h-5 p-3 rounded-full text-white bg-orange-300 text-2xl shadow-lg shadow-zinc-900"></i>
    <i class="fa-brands fa-angular absolute left-20 top-10 w-14 h-14 p-3 rounded-full text-white bg-pink-300 text-2xl shadow-lg shadow-zinc-900"></i>
    <i class="fa-brands fa-js absolute left-80 top-52 w-4 h-4 p-1 rounded-full text-white bg-green-300 text-2xl shadow-lg shadow-zinc-900"></i>
    <i class="fa-brands fa-java absolute z-50 left-60 top-72 w-5 h-5 p-1 rounded-full text-white bg-red-300 text-2xl shadow-lg shadow-zinc-900"></i>
    <img class="absolute z-40 top-20 scale-150" src="https://th.bing.com/th/id/R.7732f253d28092dabef9058b509a4b57?rik=QFVuFoKVDn0Xiw&pid=ImgRaw&r=0" alt="">
</div>