<div class="flex flex-wrap justify-around items-center w-full h-full">
    <p class="block w-full text-3xl text-center font-extrabold text-emerald-300">Projects</p>
    <ng-container *ngFor="let project of projects">
        <div class="group project-card-container">
            <div class="project-card-header">
                <div class="project-card-icon-container">
                    <i class="{{project.icon}} project-card-icon"></i>
                </div>
                <span class="project-card-title">{{project.project_name}}</span>
            </div>
            <span class="project-card-description">{{project.company_name}}</span>
        </div>
    </ng-container>
</div>