<div class="flex justify-around items-center w-full h-full">
    <!-- <div>
        <p>Projects</p>
        <i class="fa-brands fa-github w-6 mx-2 text-white text-2xl"></i>
    </div> -->
    <div class="group flex flex-col justify-center items-center h-full cursor-pointer">
        <i class="fa-solid fa-boxes-stacked transition duration-200 ease-in-out text-gray-500 group-hover:text-white text-3xl"></i>
        <span class="transition duration-200 ease-in-out text-gray-500 group-hover:text-white">Solinsa - triple i soluciones</span>
    </div>
    <div class="group flex flex-col justify-center items-center h-full cursor-pointer">
        <i class="fa-regular fa-calendar-check transition duration-200 ease-in-out text-gray-500 group-hover:text-white text-3xl"></i>
        <span class="transition duration-200 ease-in-out text-gray-500 group-hover:text-white">Fluxy app - triple i soluciones</span>
    </div>
    <div class="group flex flex-col justify-center items-center h-full cursor-pointer">
        <i class="fa-solid fa-image transition duration-200 ease-in-out text-gray-500 group-hover:text-white text-3xl"></i>
        <span class="transition duration-200 ease-in-out text-gray-500 group-hover:text-white">Dinamic web portfolio</span>
    </div>
    <div class="group flex flex-col justify-center items-center h-full cursor-pointer">
        <i class="fa-solid fa-chart-column transition duration-200 ease-in-out text-gray-500 group-hover:text-white text-3xl"></i>
        <span class="transition duration-200 ease-in-out text-gray-500 group-hover:text-white">Report system</span>
    </div>
</div>