<div class="flex flex-wrap items-center w-full mt-16">
    <p class="flex items-center w-full text-4xl text-emerald-500 font-extrabold"><i class="fa-solid fa-briefcase mr-2 text-lg"></i>Experience</p>
    <div class="relative flex items-end justify-center w-60 h-20 bg-green-300 rounded-sm cursor-pointer mt-24">
        <div class="absolute -top-7 flex items-end justify-center w-11/12 h-full bg-white rounded-sm shadow-md shadow-emerald-700">
            <div class="absolute -top-10 flex items-center justify-center w-20 h-20 rounded-full border-4 border-emerald-500 bg-white shadow-md shadow-emerald-700">
                <span class="text-gray-500"><strong class="text-xl">5</strong>years</span>
            </div>
            <span class="block w-full py-2 text-center text-gray-700 font-bold">Triple i soluciones</span>
        </div>
        <span class="py-1 text-gray-700 text-sm">AUG 2021 - MAY 2021</span>
    </div>
</div>