<div class="flex flex-wrap items-center justify-center w-full h-full">
    <p class="flex items-center justify-center w-full text-4xl text-emerald-500 font-extrabold"><i class="fa-solid fa-briefcase mr-2 text-lg"></i>Experience</p>
    <ng-container *ngFor="let exp of experience">
        <div class="relative flex items-end justify-center w-60 h-20 bg-green-300 rounded-sm cursor-pointer mt-32 scale-125">
            <div class="absolute -top-7 flex items-end justify-center w-11/12 h-full bg-white rounded-sm shadow-md shadow-emerald-700">
                <div class="absolute -top-10 flex items-center justify-center w-20 h-20 rounded-full border-4 border-emerald-500 bg-white shadow-md shadow-emerald-700">
                    <span class="text-gray-500"><strong class="text-xl">{{exp.time_worked}}</strong>{{exp.years_or_moths}}</span>
                </div>
                <span class="block w-full py-2 text-center text-gray-700 font-bold">{{exp.company_name}}</span>
            </div>
            <span class="py-1 text-gray-700 text-sm">{{exp.date}}</span>
        </div>
    </ng-container>
</div>