<div class="flex flex-wrap justify-center mt-5">
    <!-- <p class="flex items-center justify-center w-full text-4xl font-bold text-emerald-300 py-4">
        <i class="fa-solid fa-toolbox text-lg"></i>Tehnologies
    </p> -->
    <i class="fa-brands fa-golang w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-css3-alt w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-angular  w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-js w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-html5 w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-java w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-git-alt w-6 mx-2 text-white text-2xl"></i>
    <i class="fa-brands fa-github w-6 mx-2 text-white text-2xl"></i>
</div>