<div class="flex justify-evenly w-full">
    <i class="fa-brands fa-golang w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-css3-alt w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-angular  w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-js w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-html5 w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-java w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-git-alt w-6 mx-2 text-white text-4xl"></i>
    <i class="fa-brands fa-github w-6 mx-2 text-white text-4xl"></i>
</div>