<main class="w-full min-h-screen relative flex flex-wrap bg-portfolio-blue-alpha-400 pb-20 p-5">
    <div class="absolute -z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-portfolio-blue-dark via-portfolio-blue-alpha-400 to-portfolio-blue-dark"></div>
    <section>
        <p class="text-5xl font-semibold">Nombre del proyecto aquí</p>
    </section>
    
    <section class="flex items-center h-92 px-20 border">
        <div class="">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate soluta unde error impedit consectetur ipsa, in harum quod perspiciatis quos maiores quae minus ipsam officiis ducimus vel repellat animi?
        </div>
        <div class="w-96">
            <img src="assets/images/projects/5341172.png" alt="" srcset="">
        </div>
    </section>
    <footer>
        <p>Technologies used in this project</p>
    </footer>
</main>